@model Notes.WebUI.Models.CreateNoteViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-create-note", Action = "/Note/Create" }))
{
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.Data, "Заметка")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data)
            @Html.ValidationMessageFor(model => model.Data)
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(
             m => m.IdNoteType,
                @Model.NoteType)
            
            @Html.ValidationMessageFor(model => model.IdNoteType)
        </div>

    <div id="add-note-errors">
    </div>
    
    <input id="button-create-note" class="btn btn-primary" type="submit" value="Сохранить" />
   
}