@model IEnumerable<Notes.Domain.Entities.Note>

@{
    ViewBag.Title = "Список заметок в истории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Welcome <strong>@User.Identity.Name</strong>, @Html.ActionLink("Exit", "Logout", "Login")

@{Html.RenderAction("GetFormForClearHistoryNotes", "Note");}

<table class="table table-striped">
  <thead>
      <tr>
      <th>Замтека</th>
    </tr>
  </thead>
  <tbody>
@foreach (var note in Model)
{
    <tr>
      <td>
          @if (note.IdNoteType == 2)
          {
              <a href="@note.Data">@note.Data</a>
          }
          else
          {
              @note.Data
          }
      </td>
    </tr>
}
  </tbody>
</table>


